[Desktop Entry]
Name=Ttyh! Minecraft!
Name[ru]=Ттюх! Minecraft!
GenericName=Ttyh Minecraft Launcher
GenericName[ru]=Ттюх Minecraft Лаунчер
Comment=Launch Ttyh!
Comment[ru]=Запустить Ттюх!
Exec=ttyhlauncher
Icon=ttyhlauncher
StartupNotify=true
Type=Application
Categories=Qt;Game;AdventureGame;
